[submodule "evmone"]
	path = evmone
	url = https://github.com/jwasinger/evmone
[submodule "blst"]
	path = blst
	url = https://github.com/jwasinger/blst
[submodule "go-ethereum"]
	path = go-ethereum
	url = https://github.com/jwasinger/go-ethereum
[submodule "go-ethereum-purego"]
	path = go-ethereum-purego
	url = https://github.com/jwasinger/go-ethereum
